{% extends 'base.html' %}

{% block style %}
<style>
#bronzeForm{
    width:50%;
    margin:auto;
    background-color: #cd7f32;
}




</style>
{% endblock %}
{% block content %}



<div id="bronzeForm">
    <h2>Bronze Rewards</h2>
    <form action="" method="post">
        
        <p>Which of our Bronze challenges have you completed</p>
        <input type="radio" id="translation" name="bronzeChallenge" value="Translation">
        <label for="html">HTML</label><br>
        <input type="radio" id="css" name="fav_language" value="CSS">
        <label for="css">CSS</label><br>
        <input type="radio" id="javascript" name="fav_language" value="JavaScript">
        <label for="javascript">JavaScript</label>
        <br /><br />
        
        <label for="githubName">Github Name: </label>
        <br />
        <input type="text" id="githubName" name="githubName">
        <br/>
        <br />

        <label for="githubLink">Github Link/ Pull request: </label>
        <br />
        <input type="text" id="githubLink" name="githubLink">


        <label for="fname"> First Name: </label>
        <br />
        <input type="text" id="fname" name="fname">

        <label for="lname"> Last Name: </label>
        <br />
        <input type="text" id="lname" name="lname">

        
        <label for="address1"> Address Line 1: </label>
        <br />
        <input type="text" id="address1" name="address1">
        
        <label for="address2"> Address Line 2: </label>
        <br />
        <input type="text" id="address2" name="address2">





    </form>


</div>
{% endblock %}